extends layout

block content
    h1 here are your items, #{name}:
    ul
        each val in tasks
            div
                li= val.name
                form(method="POST" action="/remove-task/" id="completed-task")
                    p Completed 
                        input(type='checkbox' value='True' name='completed')
                form(method="POST" action="/")
                form(method="POST" action="/remove-task")
                    input(type='hidden' value=val.id name="ID")
                    input(type='submit' value="Delete Task")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script.
        $(function() {
            $(".completed-task").submit(() => {
            $.ajax({
                type: "POST",
                url: "/remove-task",
                data: {completed: "Balooga"}
            });
            return false;
        });
        })

    block add
    